/*
*
* Gruvbox material hard dark palette
*
*/

@define-color background #1d2021;
@define-color foreground #d4be98;

@define-color red #cc241d;
@define-color lightred #ee6d85;
@define-color blue #7daea3;
@define-color mauve #d3869b;
@define-color yellow #d8a657;
@define-color lavender #89b482;
@define-color lightbg #2a2b36;
